* {
	padding: 0;
	margin: 0;
	list-style: none;
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html, body {
	width: 100%;
	height: 100%;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    font-family: "微软雅黑",Arial;
}
img {
	vertical-align: middle;
	border: 0;
}
strong {
	font-weight: 700;
}
ul {
	margin-bottom: 10px;
}
a {
	color: #428bca;
    text-decoration: none;
    background-color: transparent;
}
a:hover, a:focus {
    color: #2a6496;
    text-decoration: underline;
}
p {
    margin: 0 0 10px;
}
table {
	border-collapse: collapse;
}
button {
	overflow: visible;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
#content {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background: greenyellow;
}
header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 74px;
	z-index: 1;
	color: #ccc;
}
.fixed {
	height: 70px;
}
header .logo {
	position: fixed;
    top: 20px;
    left: 50px;
    width: 290px;
    transition: all .2s ease-in-out 0s;
}
.fixed .logo {
    width: 210px;
    top: 14px;
}
.logo img {
    display: block;
    max-width: 100%;
    height: auto;
}
header .cert {
    position: absolute;
    top: -50px;
    left: 50px;
    font-size: 16px;
    color: #fff000;
    transition: top .2s ease-in-out 0s;
}
header .active {
	top: 85px;
}
header .menu {
    margin: 36px 0 0 110px;
    text-align: center;
    transition: .2s ease-in-out 0s;
}
.fixed .menu {
    margin: 22px 0 0 85px;
}
.list_inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}
.fixed .menu .list_inline > li {
    margin: 0 10px;
    font-size: 16px;
}
.menu .list_inline > li {
    margin: 0 12px;
    font-size: 20px;
    transition: .2s ease-in-out 0s;
}
.list_inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
header .list_inline > li > a {
    color: #ccc;
    letter-spacing: 2px;
    cursor: pointer;
    text-decoration: none;
}
.line {
	position: absolute;
    top: 0px;
    height: 3px;
    font-size: 3px;
    background-color: #00dfb9;
    display: inline;
    width: 54px;
    left: 422px;
}
.fixed .line {
	width: 46px;
}
header .phoneNumber {
    position: fixed;
    top: 32px;
    right: 215px;
    transition: .2s ease-in-out 0s;
}
.fixed .phoneNumber {
    top: 20px;
    right: 185px;
}
.phoneNumber a {
    color: #00dfb9;
}
header .phoneNumber a span {
	position: fixed;
    color: #00dfb9;
    font-family: Arial;
    font-weight: bold;
    font-size: 26px;
    letter-spacing: 1px;
    transition: .2s ease-in-out 0s;
}
.fixed .phoneNumber a span {
	font-size: 20px;
}
header .phoneNumber u {
    position: fixed;
    top: 35px;
    right: 230px;
    display: block;
    width: 30px;
    height: 30px;
    text-decoration: none;
    background: url(../img/icons.png) no-repeat;
    transition: .2s ease-in-out 0s;
}
.fixed .phoneNumber u {
    top: 20px;
    right: 195px;
}
header .bg {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 0px;
    background: #111;
    opacity: 0.6;
    z-index: -1;
    transition: .2s ease-in-out 0s;
}
.fixed .bg {
	height: 70px;
}
.contents {
	width: 100%;
	height: 400%;
	position: absolute;
	top: 0;
	/*top: -3110px;*/
	transition: top .5s;
}
.content {
	width: 100%;
	height: 25%;
	background: cornflowerblue;
	border: 1px solid black;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/*竖直第一页*/
.content1 {
	position: relative;
}
.contentX {
	position: absolute;
	left: -1364px;
	width: 600%;
	height: 100%;
	font-size: 0;
    cursor: -webkit-grab;
}
.contentX_item {
	/*width: 20%;*/
/*	line-height: 432px;*/
/*text-align: center;*/
	height: 100%;
	display: inline-block;
	font-size: 20px;
	overflow: hidden;
	position: relative;
}
/*左右轮播第一页*/
.contentX_item1 {
	background: url(../img/wp1_1.jpg) 50% 35%;
	background-size: cover;
}
.contentX_item1 .box {
    position: relative;
    margin: 0 auto;
    transition: all .3s ease-in-out 0s;
    margin-top: 210px;
    width: 462px;
}
.contentX_item1 .left {
	width: 123px;
    height: 231px;
    background: url(../img/words.png) no-repeat top right;
    position: absolute;
    left: -15px;
}
.contentX_item1 .right {
    margin: 30px 0 0 120px;
    position: absolute;
    right: -10px;
}
.contentX_item1 .right span {
    font-size: 36px;
    color: #fff;
}
.contentX_item1 .right i {
    display: block;
    width: 339px;
    height: 66px;
    margin-bottom: 5px;
    background: url(../img/words.png) no-repeat;
}
.contentX_item1 .right p {
	font-size: 16px;
    line-height: 25px;
    color: #ccc;
}
/*左右轮播第二页*/
.contentX_item2 {
	background: url(../img/wp1_2.jpg) 50% 20%;
	background-size: cover;
}
.contentX_item2 .box {
    position: absolute;
    top: 233px;
    left: 333px;
    text-align: right;
    transition: left .6s ease-in-out 0s;
    z-index: 1;
}
.contentX_item2 .box span {
    font-size: 36px;
    color: #fff;
}
.contentX_item2 .box i {
	display: block;
    width: 320px;
    height: 65px;
    margin: 10px 0px 8px 0px;
    background: url(../img/words.png) no-repeat 0px -72px;
}
.contentX_item2 .box p {
    margin: 0px;
    font-size: 16px;
    line-height: 25px;
    color: #ccc;
}
.contentX_item2 .shade {
    width: 50%;
    height: 2000px;
    background: #0b151a;
    opacity: .6;
    transition: .5s ease-in-out 0s;
}
/*左右轮播第三页*/
.contentX_item3 {
	background: url(../img/wp1_3.jpg) 50% center;
	background-size: cover;
}
.contentX_item3 .box {
	position: relative;
	width: 100%;
	margin-top: 222px;
}
.contentX_item3 .box .top {
    font-size: 80px;
    color: #fff;
    text-align: center;
    opacity: 1;
    transition: .5s ease-in-out 0s;
    font-size: 36px;
}
.contentX_item3 .box .mid {
    width: 358px;
    height: 66px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
    background: url(../img/words.png) no-repeat 0px -219px;
    transition: .3s ease-in-out 0s;
}
.contentX_item3 .box .bottom {
    width: 100%;
    color: #ccc;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    transition: .6s ease-in-out 3s;
}
/*左右轮播第四页*/
.contentX_item4 {
	background: url(../img/wp1_4.jpg) 50% top;
	background-size: cover;
}
.contentX_item4 .box {
	margin-top: 215px;
    position: relative;
    width: 100%;
}
.contentX_item4 .box .top {
	position: relative;
    width: 100%;
    text-align: center;
    transition: .3s linear 0s;
    opacity: 1;
    top: 0;
}
.contentX_item4 .box .top span {
    font-size: 36px;
    color: #fff;
}
.contentX_item4 .box .top i {
    display: block;
    width: 242px;
    height: 64px;
    margin: 0 auto;
    margin-top: 15px;
    background: url(../img/words.png) no-repeat 0px -147px;
}
.contentX_item4 .box .bottom {
	position: relative;
    width: 100%;
    margin-top: 15px;
    font-size: 16px;
    line-height: 25px;
    color: #ccc;
    text-align: center;
    transition: .5s linear 0s;
    top: 0;
    opacity: 1;
}
.contentX_item4 .box .bottom u {
    margin: 0 5px;
    color: #00dfb9;
    text-decoration: none;
}

/*竖直第二页*/
.content2 {
	background: url(../img/wp2.jpg) 50% bottom;
}
.content2 .box {
    position: relative;
    margin-top: 0px;
    top: 161px;
}
.content2 .caption {
    width: 100%;
    text-align: center;
}
.content2 .caption i {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 320px;
    height: 31px;
    background: url(../img/words.png) no-repeat 0px -294px;
}
.content2 .caption span {
	font-size: 24px;
    letter-spacing: 3px;
}
.content2 .items {
    width: 1148px;
    margin: 50px auto 0;
}
.content2 .items li {
	width: 200px;
    height: 300px;
    margin: 0 8px;
    background: url(../img/bg_green.png) no-repeat 0px 400px;
    overflow: hidden;
}
.content2 .items li:hover {
    background-position: 0px 0px;
    transition: .5s ease-in-out .3s;
}
.content2 .items li u {
	display: block;
    position: absolute;
    width: 156px;
    height: 156px;
    margin-left: 22px;
    background: url(../img/words.png) no-repeat 0px -363px;
    transition: .5s ease-in-out 0s;
}
.content2 .cl {
	clip: rect(0px,78px,156px,0px);
}
.content2 .items li:hover .cl {
    clip: rect(156px,78px,156px,0px);
}
.content2 .cr {
	clip: rect(0px,156px,156px,78px);
}
.content2 .items li:hover .cr {
    clip: rect(0px,156px,-10px,78px);
}
.content2 .items li i {
    display: block;
    position: relative;
    margin: 0 auto;
    margin-top: 43px;
    height: 69px;
}
.content2 .items li:hover i {
	transition: .5s ease-in-out .4s;
}
.content2 .items .pc i {
	width: 69px;
    background: url(../img/words.png) no-repeat -245px -357px;
}
.content2 .items .pc:hover i {
    background: url(../img/words.png) no-repeat -168px -357px;
}
.content2 .items .mobile i {
    width: 64px;
    background: url(../img/words.png) no-repeat -416px -291px;
}
.content2 .items .mobile:hover i {
    background: url(../img/words.png) no-repeat -337px -291px;
}
.content2 .items .bsn i {
	width: 76px;
	background: url(../img/words.png) no-repeat -415px -362px;
}
.content2 .items .bsn:hover i {
    background: url(../img/words.png) no-repeat -327px -362px;
}
.content2 .items .app i {
    width: 74px;
    background: url(../img/words.png) no-repeat -244px -439px;
}
.content2 .items .app:hover i {
    background: url(../img/words.png) no-repeat -164px -439px;
}
.content2 .items .servicer i {
    width: 79px;
    background: url(../img/words.png) no-repeat -420px -439px;
}
.content2 .items .servicer:hover i {
    background: url(../img/words.png) no-repeat -335px -439px;
}
.content2 .items li strong {
    display: block;
    margin-top: 70px;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
}
.content2 .items li:hover strong {
	transition-delay: .4s;
	color: #fff;	
}
.content2 .items li p {
    position: relative;
    top: 200px;
    color: White;
    font-family: Arial,"宋体";
    font-size: 12px;
    line-height: 20px;
    text-align: center;
}
.content2 .items li:hover p {
	top: 20px;
    transition: all .3s ease-in-out .5s;
}
.content2 label {
	display: block;
    margin: 0 auto;
    margin-top: -40px;
    width: 297px;
    height: 21px;
    background: url(../img/words.png) no-repeat 0px -333px;
}

/*竖直第三页*/
.content3 {
	background: url(../img/wp3.jpg);
}
.content3 .box {
	position: relative;
    transition: .3s ease-in-out 0s;
    top: 107px;
}
.content3 .caption {
	text-align: center;
	width: 100%;
    transition: .5s ease-in-out 0s;
}
.content3 .caption span {
	font-size: 24px;
	padding-left: 20px;
	letter-spacing: 3px;
}
.clear {
	clear: both;
}
.content3 .example {
	backface-visibility: hidden;
	overflow: hidden;
    margin: 0 auto;
    position: relative;
    top: 0;
}
.content3 .items {
    margin: 40px auto 0;
    width: 1080px;
    transition: .8s ease-in-out 0s;
}
.content3 .eexample_item {
    width: 340px;
    margin: 0 10px;
    border-bottom: 2px solid #2fd0b5;
    cursor: pointer;
    float: left;
    box-sizing: content-box;
}
.eexample_item .shade {
    position: absolute;
    width: 340px;
    height: 200px;
    margin-top: -200px;
    background: #000;
    opacity: 0.7;
    z-index: 2;
    transition: .3s ease-in-out 0s;
}
.eexample_item:hover .shade, .eexample_item:hover .bg u {
    margin-top: 0px;
}
.eexample_item .shade u {
    display: block;
    margin: 0 auto;
    margin-top: 78px;
    width: 44px;
    height: 44px;
    background: url(../img/icons.png) no-repeat 0px -168px;
}
.content3 .eexample_item p {
	position: absolute;
    color: #999;
    font-family: Arial,"宋体";
    font-size: 12px;
    line-height: 26px;
    transition: .3s ease-in-out 0s;
    margin: 10px 20px;
    z-index: 2;
}
.content3 .eexample_item:hover p, .content3 .eexample_item:hover p strong {
	color: #fff;
}
.content3 .example p strong {
    color: #222;
    font-family: Arial,"微软雅黑";
    font-size: 16px;
    font-weight: normal;
    transition: .3s ease-in-out 0s;
}
.eexample_item .bg {
	width: 340px;
    height: 100px;
    background-color: #fff;
    opacity: 0.5;
    transition: .3s ease-in-out 0s;
}
.eexample_item:hover .bg {
	opacity: 1;
}
.eexample_item .bg u {
    display: block;
    position: absolute;
    width: 340px;
    height: 100px;
    margin-top: 150px;
    background-color: #2ed0b4;
    transition: .3s ease-in-out 0s;
}
.content3 .more {
    display: block;
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
    top: 0px;
    width: 200px;
    padding: 5px 0px 8px 0px;
    color: #00dfb9;
    font-size: 26px;
    text-align: center;
    text-decoration: none;
    border: 1px dotted #00dfb9;
    transition: .3s ease-in-out 0s,top .8s ease-in-out 0s;
    cursor: pointer;
}
.content3 .more:hover {
    color: #fff;
    background: #2fd0b5;
}

/*竖直第四页*/
.content4 {
	background: url(../img/wp4.jpg) 50% 90%;
}
.content4 .box {
    position: relative;
    top: 128px;
    transition: .3s ease-in-out 0s;
}
.content4 .caption {
	width: 100%;
    text-align: center;
    transition: .5s ease-in-out 0s;
}
.content4 .caption i {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 299px;
    height: 37px;
    background: url(../img/words.png) no-repeat -152px -528px;
}
.content4 .caption span {
    font-size: 24px;
    padding-left: 10px;
}
.content4 .items {
    margin: 0 auto;
    margin-top: 45px;
    width: 1155px;
	height: 300px;
    font-size: 0;
    overflow: hidden;
}
.content4 .items li {
    position: relative;
    padding: 0;
    width: 230px;
    height: 150px;
    overflow: hidden;
    z-index: 10;
}
.content4 .items .b {
	border-bottom: 1px dotted #ddd;
}
.content4 .items .r {
    border-right: 1px dotted #ddd;
}
.content4 .items .bg {
    position: absolute;
    width: 1150px;
    height: 300px;
    background-color: #fff;
    -moz-opacity: 0.3;
    opacity: 0.3;
}
.content4 .items .cctv {
	background: url(../img/clients.png)	no-repeat;
	transition: .8s ease-in-out 0s;
}
.content4 .items .cctv.active {
	background: url(../img/clients.png)	0 -150px no-repeat;
	
}
.content4 .items .qinghua {
	background: url(../img/clients.png)	no-repeat -460px 0px;
	transition: .8s ease-in-out 0s;
}
.content4 .items .qinghua.active {
	background: url(../img/clients.png)	no-repeat -460px -150px;
}
.content4 .items .lenovo {
    background: url(../img/clients.png) no-repeat -2530px 0px;
    transition: .8s ease-in-out 0s;
}
.content4 .items .lenovo.active {
    background: url(../img/clients.png) no-repeat -2530px -150px;
}
.content4 .items .cas {
    background: url(../img/clients.png) no-repeat -690px 0px;
    transition: .8s ease-in-out 0s;
}
.content4 .items .cas.active {
    background: url(../img/clients.png) no-repeat -690px -150px;
}
.content4 .items .apple {
    background: url(../img/clients.png) no-repeat -230px 0px;
    transition: .8s ease-in-out 0s;
}
.content4 .items .apple.active {
    background: url(../img/clients.png) no-repeat -230px -150px;
}
.content4 .items .das {
    background: url(../img/clients.png) no-repeat -1380px 0px;
    transition: .8s ease-in-out 0s;
}
.content4 .items .das.active {
    background: url(../img/clients.png) no-repeat -1380px -150px;
}
.content4 .items .ata {
	background: url(../img/clients.png) no-repeat -1150px 0px;
    transition: .8s ease-in-out 0s;
}
.content4 .items .ata.active {
	background: url(../img/clients.png) no-repeat -1150px -150px;
}
.content4 .items .zhongxin {
    background: url(../img/clients.png) no-repeat -920px 0px;
    transition: .8s ease-in-out 0s;
}
.content4 .items .zhongxin.active {
    background: url(../img/clients.png) no-repeat -920px -150px;
}
.content4 .items .haier {
    background: url(../img/clients.png) no-repeat -2772px 0px;
    transition: .8s ease-in-out 0s;
}
.content4 .items .haier.active {
    background: url(../img/clients.png) no-repeat -2772px -150px;
}
.content4 .items .cosco {
    background: url(../img/clients.png) no-repeat -1610px 0px;
    transition: .8s ease-in-out 0s;
}
.content4 .items .cosco.active {
    background: url(../img/clients.png) no-repeat -1610px -150px;
}
.content4  .bg_one {
	display: none;
	width: 231px;
	height: 151px;
	position: absolute;
    background: #eee;
    opacity: .5;
    transition: .3s ease-in-out 0s;
}
/*竖直第五页*/
.content5 {
	background: url(../img/wp5.jpg) 50% 10%;
}
.content5 .box {
	position: relative;
	top: 85px;
    transition: .3s ease-in-out 0s;
}
.content5 .caption {
    width: 100%;
    text-align: center;
    transition: .5s ease-in-out 0s;
}
.content5 .caption i {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 240px;
    height: 37px;
    background: url(../img/words.png) no-repeat 0px -576px;
}
.content5 .caption span {
    padding-left: 5px;
    color: #fff;
    font-size: 24px;
}
.content5 .items {
    margin: 0 auto;
    margin-top: 80px;
    width: 960px;
}
.swiper_container {
	margin: 0 auto;
    position: relative;
    overflow: hidden;
    backface-visibility: hidden;
    z-index: 1;
}
.swiper_wrapper {
	position: relative;
    width: 100%;
    transition-property: transform,left,top;
    transition-duration: 0s;
    transform: translate3d(0px,0,0);
    transition-timing-function: ease;
    box-sizing: content-box;
}
.swiper_slide {
    float: left;
    box-sizing: content-box;
}
.content5 .swiper_wrapper .swiper_slide {
	position: relative;
    width: 240px;
    margin: 0 40px;
}
.swiper_wrapper .nth1 {
	left: 0;
    transition: .8s ease-in-out 0s;
}
.content5 .swiper_slide ul {
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 0px;
    line-height: 10px;
}
.content5 .nth1 ul {
    width: 168px;
}
.content5 .nth3 ul {
    width: 169px;
}
.content5 .swiper_slide ul li {
	position: relative;
    margin: 0 15px;
    padding: 0;
    overflow: hidden;
    font-size: 14px;
}
.content5 .swiper_slide ul .mobil {
    width: 14px;
    height: 27px;
    background: url(../img/icons.png) no-repeat 0px -264px;
}
.content5 .swiper_slide ul .pad {
    width: 29px;
    height: 23px;
    background: url(../img/icons.png) no-repeat -71px  -264px;
}
.content5 .swiper_slide ul .pc {
    width: 35px;
    height: 27px;
    background: url(../img/icons.png) no-repeat 0px -303px;
}
.content5 .swiper_slide p {
    color: #e1e1e1;
    text-align: center;
    line-height: 36px;
}
.swiper_wrapper .nth2 {
	bottom: 0;
    transition: .8s ease-in-out 0s;
}
.content5 .swiper_slide ul .ie {
    width: 28px;
    height: 28px;
    background: url(../img/icons.png) no-repeat 0px -392px;
}
.content5 .swiper_slide ul .chrome {
    width: 30px;
    height: 30px;
    background: url(../img/icons.png) no-repeat -71px  -392px;
}
.content5 .swiper_slide ul .firefox {
    width: 32px;
    height: 30px;
    background: url(../img/icons.png) no-repeat 0px -432px;
}
.content5 .swiper_slide ul .safari {
    width: 30px;
    height: 32px;
    background: url(../img/icons.png) no-repeat -71px -432px;
}
.content5 .swiper_slide ul .windwos {
    width: 27px;
    height: 27px;
    background: url(../img/icons.png) no-repeat -73px -304px;
}
.content5 .swiper_slide ul .ios {
    width: 24px;
    height: 30px;
    background: url(../img/icons.png) no-repeat 0px -344px;
}
.content5 .swiper_slide ul .andriod {
    width: 28px;
    height: 29px;
    background: url(../img/icons.png) no-repeat -72px -345px;
}
.content5 .lookall {
    display: block;
    margin: 0 auto;
    margin-top: 90px;
    width: 240px;
    padding: 12px 0px;
    color: #00aa88;
    font-size: 18px;
    letter-spacing: 3px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #00aa88;
    border-radius: 5px;
    transition: .3s ease-in-out 0s;
}
.content5 .lookall:hover {
    color: #fff;
    background: #0f8773;
    border: 1px solid #0f8773;
}

/*竖直第六页*/
.content6 {
	background: url(../img/wp6.jpg) 50% 45%;
}
.content6 .box {
	top: 196px;
    margin-top: 0px;
    position: relative;
    transition: .3s ease-in-out 0s;
}
.content6 .caption {
    position: relative;
    width: 100%;
    text-align: center;
    transition: .5s ease-in-out 0s;
}
.content6 .caption span {
	padding-left: 5px;
    font-size: 24px;
}
.content6 .items {
    margin: 0 auto;
    margin-top: 30px;
    width: 1090px;
    position: relative;
    z-index: 10;
}
.content6 .items li {
    width: 128px;
    height: 230px;
    margin: 0 20px;
    overflow: hidden;
}
.content6 .items li .cl {
    clip: rect(128px,64px,128px,0px);
}
.content6 .items li:hover .cl {
    clip: rect(0px,64px,128px,0px);
}
.content6 .items li u {
	display: block;
    position: absolute;
    width: 128px;
    height: 128px;
    background: url(../img/words.png) no-repeat 0px -624px;
    transition: .5s ease-in-out 0s;
}
.content6 .items li .cr {
    clip: rect(0px,128px,-10px,64px);
}
.content6 .items li:hover .cr {

	clip: rect(0px,128px,128px,64px);
}
.content6 .items li i {
    display: block;
    position: relative;
    margin: 0 auto;
    margin-top: 28px;
    height: 70px;
}
.content6 .items .seo i {
    width: 54px;
    background: url(../img/words.png) no-repeat -144px -632px;
}
.content6 .items li strong {
    display: block;
    margin: 50px 0px 10px 0px;
    font-size: 16px;
    text-align: center;
    transition: .5s ease-in-out 0s;
}
.content6 .items li p {
    line-height: 20px;
    text-align: center;
}
.content6 .items .weixin i {
    width: 74px;
    background: url(../img/words.png) no-repeat -207px -630px;
}
.content6 .items .weibo i {
    width: 68px;
    background: url(../img/words.png) no-repeat -288px -630px;
}
.content6 .items .news i {
    width: 61px;
    background: url(../img/words.png) no-repeat -366px -628px;
}
.content6 .items .pay i {
    width: 56px;
    background: url(../img/words.png) no-repeat -438px -639px;
}
.content6 .items .bbs i {
    width: 51px;
    background: url(../img/words.png) no-repeat -144px -705px;
}

/*竖直第七页*/
.content7 {
    position: relative;
    background: url(../img/wp7.jpg) 50% 60%;
    background-size: cover;
    height: 622px;
}
.content7 .menu {
	position: absolute;
    list-style: none;
    top: 150px;
    left: 50px;
    width: 80px;
    padding: 0px;
}
.content7 .menu li {
    position: relative;
    color: #888;
    font-size: 16px;
    text-align: center;
    padding: 10px 0px;
    cursor: pointer;
    z-index: 30;
    transition: .0s ease-in-out .2s;
    opacity: 1;
}
.content7 .menu .active {
	color: #fff;
}
.content7 .menu .bg_all {
    position: absolute;
    padding: 0px;
    top: 0px;
    left: 0px;
    width: 80px !important;
    height: 126px !important;
    background: #2fd0b5;
    opacity: 0.15;
    z-index: 2;
}
.content7 .menu .bg_one {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 80px;
    height: 22px;
    background: #2fd0b5;
    opacity: .2;
    transition: .3s ease-in-out 0s;
    z-index: 3;
}
.content7 .items {
    position: absolute;
    top: 191px;
    cursor: -webkit-grab;
    left: 50%;
    width: 480px;
    height: 240px;
    opacity: 1;
    transition: .8s ease-in-out 0s;
    /*background-color: #fff;*/
}
.content7 .swiper_wrapper {
	position: relative;
	width: 2400px;
	height: 240px;
    transition: .5s ease;
    left: -480px;
    /*transition-property: left, top;
    transition-timing-function: ease;*/
    box-sizing: content-box;
    /*transform: translateX(0px);*/
}
.content7 .swiper_slide {
    float: left;
    box-sizing: content-box;
    width: 480px;
    height: 240px;
} 
.content7 .nth1 strong {
    display: block;
    color: #ddd;
    font-size: 40px;
    font-weight: normal;
    letter-spacing: 5px;
}
.content7 .nth1 p {
	margin-top: 20px;
    color: #999;
    line-height: 35px;
}
.content7 .nth1 u {
    display: block;
    margin-top: 20px;
    color: #999;
    font-size: 24px;
    text-decoration: none;
}
.content7 .nth2 strong {
    display: block;
    color: #00dfb9;
    font-size: 22px;
    font-weight: normal;
    text-indent: 28px;
}
.content7 .nth2 p {
	margin-top: 20px;
    color: #999;
    line-height: 35px;
    text-indent: 28px;
}
.content7 .nth3 strong {
    display: block;
    margin-bottom: 20px;
    color: #00dfb9;
    font-size: 22px;
    font-weight: normal;
}
.content7 .nth3 ul {
    padding: 0px;
}
.content7 .nth3 ul li {
	color: #999;
    line-height: 35px;
    padding-left: 30px;
    list-style: none;
    background: url(../img/point.png) no-repeat 0px 13px;
}
.content7 .nth3 ul li u {
    margin: 0 15px;
    text-decoration: none;
}
.content7 .exp {
	position: absolute;
    bottom: 0px;
    width: 100%;
    border-top: 1px solid #666;
    transition: .5s ease-in-out 0s;
    z-index: 2;
}
.content7 .exp td {
    width: 20%;
    height: 70px;
    color: #bbb;
    text-align: center;
}
.content7 .exp td u {
    margin-right: 10px;
    color: #00dfb9;
    font-family: Arial;
    font-size: 26px;
    text-decoration: none;
}
.content7 .expBg {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 70px;
    background: #fff;
    opacity: 0.2;
    filter: alpha(opacity=20);
    transition: .5s ease-in-out 0s;
    z-index: 1;
}

/*竖直第八页*/
.content8 {
    position: relative;
    background: url(../img/wp8.jpg) 50% bottom;
    background-size: cover;
    height: 622px;
    overflow: hidden;
}
.content8 .box {
    position: relative;
    margin: 0 auto;
    width: 810px;
    height: 330px;
    top: 181px;
    transition: .3s ease-in-out 0s;
}
.content8 .above {
	position: relative;
	width: 100%;
	height: 200px;
    transition: .6s ease-in-out 0s;
}
.content8 .wechat {
	float: left;
}
.content8 .left {
	float: left;
    margin: -12px 0px 0px 70px;
}
.content8 .left > a {
	display: block;
    margin: 10px 0px 15px 0px;
    width: 243px;
    height: 37px;
    text-decoration: none;
    background: url(../img/words.png) no-repeat 0px -877px;
}
.content8 .left > p {
    margin-top: 8px;
    color: #666;
    line-height: 26px;
}
.content8 .left > p > a {
    margin-left: 20px;
    color: #d00000;
    font-weight: bold;
}
.content8 .right {
	float: right;
	margin-top: -3px;
	line-height: 32px;
	color: #666;
}
.content8 .below {
	position: relative;
	padding-top: 50px;
	width: 100%;
    border-top: 1px dotted #ccc;
}
.content8 .below i {
	display: block;
	width: 424px;
	height: 86px;
	margin: 0 auto;
	position: relative;
    background: url(../img/words.png) no-repeat 0px -787px;
    transition: .6s ease-in-out 0s;
}

/*竖直第九页*/
.content9 {
	background: url(../img/wp3.jpg) 50% bottom;
	background-size: cover;
	height: 622px;
	position: relative;
}
.content9 .box {
	padding: 25px 40px;
	margin-bottom: 25px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 2;
}
.content9 .box, .content9 .bg_box {
	position: absolute;
    top: 15%;
    left: 10%;
    margin-top: 35px;
    width: 80%;
    height: 70%;
    /*overflow: hidden;*/
}
.content9 .box > span {
	font-size: 20px;
}
.content9 .box ul {
    margin-top: 25px;
    padding-top: 15px;
    padding-bottom: 25px;
    height: 70%;
    border-top: 1px solid #ddd;
    overflow: hidden;
}
.content9 .box ul li {
    margin-top: 10px;
    width: 130px;
}
.content9 .box ul li a {
	color: #333;
}
.content9 .bg_box {
	background: #fff;
	opacity: .7;
}



/*页面下边轮播新闻栏*/
.innerBox {
    position: absolute;
    bottom: 15px;
    width: 100%;
    z-index: 10;
}
/*新闻条*/
.news {
    margin: 0 auto;
    margin-left: 100px;
    margin-bottom: 10px;
    width: 400px;
}
.news span {
    float: left;
    margin: 1px 15px 0px 0px;
    color: #00dfb9;
    font-weight: bold;
}
.news .more {
    float: right;
    color: #00dfb9;
    margin-top: -3px;
    text-decoration: none;
    border-bottom: 1px dotted #00dfb9;
    transition: color .3s ease-in-out 0s;
}
.news .news_item {
    overflow: hidden;
    position: relative;
    height: 20px;
}
.news_item ul {
	float: left;
	position: absolute;
	top: 0;
}
.news_item li {
	/*display: none;*/
}
.news_item a {
	color: #ddd;
}
.innerBox .guide {
	position: absolute;
    margin: 0px;
    right: 15px;
    bottom: 18px;
    width: 110px;
    z-index: 1;
}
.innerBox .guide > div {
	margin: 0px 3px;
    width: 20px;
    display: block;
    float: left;
    height: 3px;
    font-size: 3px;
    background: #fff;
    cursor: pointer;
}
.innerBox .guide .active {
	background: #00dfb9;
}
.innerBox .movedowm {
	position: absolute;
    margin: 0px;
    left: 15px;
    bottom: 0px;
    display: block;
    width: 47px;
    height: 47px;
    background: url(../img/icons.png) no-repeat 0px -60px;
    cursor: pointer;
    z-index: 99;
}
.innerBox .movedowm:hover {
    background: url(../img/icons.png) no-repeat 0px -112px;
}







/*右边指引栏*/
.contents > .guide {
    position: fixed;
    top: 198px;
    right: 0px;
    width: 50px;
    height: 269px;
    opacity: 0.7;
    z-index: 200;
}
.contents > .guide .icon {
    position: absolute;
    list-style: none;
    right: 0px;
    padding: 0px;
    width: 50px;
    border: 1px solid #333;
    border-right: none;
    background: #111;
    border-radius: 10px 0 0 10px;
    transition: .3s ease-in-out 0s;
}
.contents > .guide .icon li i {
	display: block;
    position: relative;
    width: 50px;
    height: 50px;
    background: url(../img/icons.png) no-repeat;
    cursor: pointer;
    transition: .3s ease-in-out 0s;
    z-index: 210;
}
.contents > .guide .icon .active i {
	opacity: .4;
}
.contents > .guide .icon .up i {
	background-position: -63px -150px;
}
.contents > .guide .icon .qq i {
    background-position: -63px -20px;
}
.contents > .guide .icon .phone i {
	background-position: -62px -108px;
}
.contents > .guide .icon .weixin i {
    background-position: -59px -66px
}
.contents > .guide .icon .down i {
    background-position: -63px -190px;
}
.contents > .guide .icon li p {
    display: block;
    position: absolute;
    top: 50px;
    right: -260px;
    padding: 15px 20px;
    height: 120px;
    color: #fff;
    line-height: 30px;
    border: 1px solid #333;
    border-right: none;
    background: #111;
    border-radius: 10px 0 0 10px;
    opacity: 0;
    transition: .4s ease-in-out .1s;
    overflow: hidden;
    z-index: 2;
}
.contents > .guide .icon .active p {
	right: 50px;
	opacity: 1;
}
.contents > .guide .icon .qq p {
	width: 115px;
}
.contents > .guide .icon .qq p a {
    display: block;
    margin-top: 12px;
    width: 100px;
    height: 35px;
    line-height: 32px;
    color: #00dfb9;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #00dfb9;
    border-radius: 5px;
    transition: .3s ease-in-out 0s;
}
.contents > .guide .icon .qq p a:hover {
	color: #fff;
	background-color: #0f8773;
	border: 1px solid #0f8773;
}
.contents > .guide .icon .phone p {
    top: 50px;
    width: 200px;
    height: 120px;
}
.contents > .guide .icon .phone p .callback {
    display: inline-block;
    margin-top: 15px;
}
.contents > .guide .icon .phone p .callback input {
    float: left;
    padding-left: 35px;
    width: 110px;
    height: 30px;
    font-family: Arial,"微软雅黑";
    font-size: 16px;
    font-weight: bold;
    color: #00dfb9;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid #00dfb9;
    background: url(../img/icons.png) no-repeat 8px -706px;
    background-color: transparent;
    outline: none;
}
.contents > .guide .icon .phone p .callback button {
	float: left;
    padding: 0px 9px 2px 9px;
    color: #00dfb9;
    font-size: 16px;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #00dfb9;
    border-left: none;
    background: transparent;
    outline: none;
}
.contents > .guide .icon .weixin p {
    width: 118px;
}
.contents > .guide .icon .weixin p img {
    width: 115px;
    border: 2px solid #fff;
}
.switch {
    position: absolute;
    display: block;
    top: 270px;
    right: 11px;
    width: 26px;
    height: 26px;
    background: url(../img/icons.png) no-repeat 0px -640px;
    transition-delay: .15s;
}
.guide .off {
	background-position: -32px -640px;
}
